#root {
  color: rgb(45, 13, 13);
  width: 100vw;
  height: 100vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#episode-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.episode {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 18px;
  border: solid 1px rgb(5, 5, 93);
  box-shadow: 10px 5px 10px rgb(83, 66, 54);
  border: 5px rgb(54, 3, 61);
  padding: 15px;
  margin: 25 px;
}
/* background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #999;
  width: 300px;
  margin: 15px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center; */
