#body {
  color: rgb(238, 229, 229);
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.selectshow {
  width: 100%;
  padding: 15%;
  height: 15px;
}
img {
  width: 100%;
}
p {
  font-family: serif;
  align-items: center;
  /* display: flex; */
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 3px;
  font-kerning: 15;
  font-weight: lighter;
}
#episode-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.episode {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  align-items: center;
  box-shadow: 3px 3px 10px rgb(92, 79, 70);
  border: 5px rgb(54, 3, 61);
  padding: 5px;
  margin: 25px;
}
/* background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #999;
  width: 300px;
  margin: 15px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center; */
